html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
}
.custom1 {
    padding: 0;
}
.custom-dropdown {
    font-size: 1.5em;
}
.dropdown-item {
    color: white;
    font-size: 1.5em;
    background-color: rgb(33, 37, 41);
}
.dropdown-menu {
    background-color: rgb(33, 37, 41);
}

#loading-screen {
    background-color: rgb(58, 57, 57);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#loading-text {
    font-size: 4em;
    color: white;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
